body {
    background-color: bisque
}

header {
    display: flex;
    width: 500px;
    height: 50px;
    margin: auto;
    background-color: azure;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin: auto;
    align-items: center;
    background-color: azure;
}

#screen {
    display: flex;
    flex-direction: column;
    width:450px;
    height:150px;
    background-color:darkgray;
    overflow: hidden;
}

.in-screen{
    width: 450px;
    height:75px;
    padding:10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-wrap:stable;
}

#expression
{
    text-align: left;
    text-wrap:wrap;
}

#result
{
    text-align: right;
}

#button-grid{
    display: grid;
    grid-template-columns: [c1] 87.6px [c2] 87.6px [c3] 87.6px [c4] 87.6px [c5] 87.6px [end];
    grid-template-rows: auto;
    column-gap: 3px;
    row-gap: 3px;
    grid-template-areas: 
    "seven eight nine del ac"
    "four five six divide multip"
    "one two three plus minus"
    "zero decim ans power equal";
    width: 450px;
    height: 500px;
    margin-top: 20px;
    background-color:cornflowerblue;
    padding:3px;
    border-radius: 6px;
}

.button{
    padding:0;
    border-radius: 6px;
    border:0;
    font-size: 20px;

}

#zero{
    grid-area:zero;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area:three;
}

#four{
    grid-area:four;
}

#five{
    grid-area:five;
}

#six{
    grid-area:six
}

#seven{
    grid-area: seven;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#plus{
    grid-area: plus;
}

#minus{
    grid-area: minus;   
}

#mutiply{
    grid-area: multip;   
}

#divide{
    grid-area: divide;   
}

#equal{
    grid-area: equal;   
}

#power{
    grid-area: power;   
}

#decimal{
    grid-area: decim; 

}

#del{
    font-weight: bold;
    grid-area: del;
}

#ac{
    font-weight: bold;
    grid-area: ac;
}

#ans{
    grid-area: ans;
}
#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #zero:hover{
    background-color:lightseagreen; 
} 

#del:hover, #ac:hover{
    background-color:lightcoral;
}

#plus:hover, #minus:hover, #multiply:hover, #divide:hover, #power:hover, #decimal:hover{
    background-color:darkslateblue;
}

#equal:hover{
    background-color:lightgreen;
}