body {
    background-color: bisque
}

header {
    display: flex;
    width: 500px;
    height: 50px;
    margin: auto;
    background-color: azure;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    margin: auto;
    align-items: center;
    background-color: azure;
}

#screen {
    display: flex;
    flex-direction: column;
    width:450px;
    height:150px;
    background-color:cadetblue;
    overflow: hidden;
}

.in-screen{
    width: 450px;
    height:75px;
    padding:10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-wrap:stable;
}

#expression
{
    text-align: left;
    text-wrap:wrap;
}

#result
{
    text-align: right;
}

#button-grid{
    display: flex;
    width: 450px;
    height: 500px;
    margin-top: 20px;
    background-color: black;
}